*{

}
.body{
	background: green;
}

.header-container{
	background: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

img{
	max-width: 180px;
	padding-left: 50px;
}

i{
	padding-top: 10px;
	padding-left: 10px;
	color: #fff;

}

.soc{
	color: green;
	font-size: 30px;
	padding: 10px;
	margin-top: 80px;
}

.social{


}

a{
	padding-right: 6px;
	color: #fff;
	text-decoration: none;
}

h1{
	color: #fff;
	font-family: 'Cinzel';
	text-shadow: 2px 2px 8px #fff;
}
.header-container__log__{
	text-align: center;
	margin-left: 120px;
}

.log{
	font-size: 80px;
	padding-top: 20px;
	text-shadow: 2px 2px 1px;
}

det-log{
	color: #fff;
	font-family: 'Cinzel';
}

.header-container__tit__{
	display: flex;

	flex-direction: column-reverse;
	text-align: center;
}

.nav-btn{
	width: 160px;
	text-align: center;
	border-right: solid;
	border-color: #000;
}

.header-container__nav__{
	min-width: 600px;
	display: flex;
	background: green;
	height: 35px;
	justify-content: space-evenly;
}

.header-container__soc__{
	display: flex;
	width: 200px;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.section-container__srv__{
	display: grid;
	background-image: url("manoncode.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
	background-color: #000;
	background-size: 30%;
	width: 100%;
	margin-top: 10px;
	grid-template-columns: repeat(3, 1fr);

}

.section-srv{
	width: 90%;
	text-align: center;
	font-family: 'Cinzel';
	padding: 20px;
}

.subt{
	padding: 12px;
}

.section-container{
	background: #000;
}

.main{
	text-align: center;
	background-color: #000;
	width: 70%;
	margin: auto;
	font-size: large;
	font-family: 'Cinzel';
}
.srv{
	color: green;
	font-size: 40px;

}

h4{
	color: green;
	padding-top: 12px;
	font-size: x-large;
}

p, h3{
	color: #fff;
}

.form-container{
	display: flex;
	background: #000;
	justify-content: center;


}

.form{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 30%;
	margin-top: 40px;
	border-style: solid;
	border-color: green;
}

.input-form{
	width: 90%;
	
	

}

.section-container__sns__{

}
